$main-color: rgba(217, 117, 59, 1);
$dark-color: rgba(54, 50, 49, 1);
$light-color: rgba(244, 244, 244, 1);
$medium-color: rgba(180, 160, 160, 1);
$bg-image: url('../../dist/img/hero-resized.jpg');
$website-width: 1400px;
$shadow: 0 5px 10px rgba(0, 0, 0, 0.6);
$ease200: 200ms ease;
